<h2>My Bank accounts</h2>

<div class="css-grid-table">

    <div class="css-grid-table-header">
    <div>Account no</div>
    <div>Account holder</div>
    <div>Bank</div>
    <div>IFSC</div>
    <div><button (click)="addBankAccountForms()" class="btn btn-info btn-sm" ><i class="far fa-plus-square fa-lg"></i> Add New</button></div>
    <div style="background-color: white !important;"> 
    <span *ngIf="notification" class="fadeInAndOut" >
        <i class="fas fa-check-circle {{notification.class}}"></i> {{notification.message}}
    </span> 
    </div>
</div>
    
    <div >
        <form class="css-grid-table-body" [formGroup] = "fg"  *ngFor="let fg of bankAccountForms.controls; let i = index;"
        (submit) = "recordSubmit(fg)">
        <div > 
            <input type="text" class="form-control"  formControlName="accountNumber" >
        </div>
        <div >
            <input type="text" class="form-control"  formControlName="accountHolder" >
        </div>
        <div >
            <select type="text" class="form-control"  formControlName="bankID" >
                <option value="0">Select</option>
            <option *ngFor="let item of bankList" value="{{item.bankID}}">{{item.bankName}}</option>    
            </select>
        </div>
        <div >
            <input type="text"  class="form-control" formControlName="IFSC" >
        </div>
        <div>
            <button [disabled]="fg.invalid" class="btn" type="submit"
            [ngClass]="(fg.get('bankAccountID').value == 0)? 'btn-success': 'btn-outline-dark'"><i class="far fa-save fa-lg"></i>
                {{fg.get('bankAccountID').value == 0 ? 'Submit' : 'Update'}}</button>

               <button type="button" class="btn btn-light mi-1" style="margin-left: 5px;"
                (click)="deleteRecord(fg,i)"  >
                   <i class="far fa-trash-alt fa-sm text-danger"></i>
               </button>
        </div>
    </form>
    </div>
    </div>